* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

ul {
  list-style: none;
}

body {
  font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  color: $brand-color;
  font-size: 12px;
  font-weight: 500;
}
/*responsywność obrazów*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}
