@charset "UTF-8";
.header {
  padding-top: 48px;
  height: 230px;
  background-image: url("../images/header/home/mobile/home-banner-320x230@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 41px;
    background-image: url("../images/header/home/tablet/home-banner-768x230@1x.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .header {
    background-image: url("../images/header/home/desktop/home-banner-1024x230@1x.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/header/home/mobile/home-banner-640x460@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .header {
    background-image: url("../images/header/home/tablet/home-banner-1536x460@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px), screen and (min-resolution: 192dpi) and (min-width: 1024px), screen and (min-resolution: 2dppx) and (min-width: 1024px) {
  .header {
    background-image: url("../images/header/home/desktop/home-banner-2048x460@2x.jpg");
  }
}
.header--library {
  padding-top: 48px;
  height: 230px;
  background-image: url("../images/header/my-library/mobile/library-banner-320x230@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .header--library {
    padding-top: 41px;
    background-image: url("../images/header/my-library/tablet/library-banner-768x230@1x.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .header--library {
    background-image: url("../images/header/my-library/desktop/library-banner-1024x230@1x.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header--library {
    background-image: url("../images/header/my-library/mobile/library-banner-640x460@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .header--library {
    background-image: url("../images/header/my-library/tablet/library-banner-1536x460@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px), screen and (min-resolution: 192dpi) and (min-width: 1024px), screen and (min-resolution: 2dppx) and (min-width: 1024px) {
  .header--library {
    background-image: url("../images/header/my-library/desktop/library-banner-2048x460@2x.jpg");
  }
}

#movie-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
}

.movie-title {
  color: var(--brand-color);
  padding-left: 0px;
  font-weight: 600;
}

.movie-image {
  border-radius: 5px;
  width: 274px;
  height: 398px;
  margin-bottom: 10px;
}

#movie-info {
  line-height: 1, 16em;
  display: flex;
  font-size: 12px;
  color: var(--text-color-2);
  font-weight: 600;
  margin-bottom: 31px;
  flex-direction: row;
}

.movie-box {
  display: grid;
  justify-content: center;
}

@media (min-width: 280px) {
  #movie-list {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  #movie-list .movie-image {
    border-radius: 5px;
    max-width: 280px;
    height: 398px;
  }
  #movie-list #movie-info {
    max-width: 280px;
  }
  #movie-list .movie-title {
    max-width: 280px;
  }
}
@media (min-width: 768px) {
  #movie-list {
    display: grid;
    grid-template-columns: auto auto;
  }
  #movie-list .movie-image {
    border-radius: 5px;
    max-width: 293x;
    height: 398px;
  }
  #movie-list #movie-info {
    max-width: 293px;
  }
  .movie-title {
    max-width: 293px;
  }
}
@media (min-width: 1024px) {
  #movie-list {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  #movie-list .movie-image {
    border-radius: 5px;
    max-width: 274px;
    height: 398px;
  }
  #movie-list #movie-info {
    max-width: 274px;
  }
  #movie-list .movie-title {
    max-width: 274px;
  }
}
.footer {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-4);
}

.footer__span {
  display: flex;
}

.footer__developed {
  display: flex;
}

.footer__underline {
  text-decoration: underline;
}

.footer__heart {
  padding: 0px 10px 0px 10px;
}

@media (min-width: 280px) {
  .footer__span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .footer__span {
    display: flex;
    flex-direction: row;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal__container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  min-width: 882px;
  min-height: 568px;
  padding: 30px 50px;
  background-color: white;
}
.modal__button {
  position: absolute;
  width: 136px;
  height: 44px;
  left: 527px;
  top: 522px;
  border: 1px solid black;
  border-radius: 5px;
}
.modal__button:hover {
  background-color: black;
}

.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  color: black;
  font-size: 12px;
  font-weight: 500;
}

/*responsywność obrazów*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
@media screen and (max-width: 767) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding-left: 76px;
    padding-right: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 71px;
    padding-right: 71px;
  }
}/*# sourceMappingURL=main.css.map */