@charset "UTF-8";
:root {
  --brand-color: black;
  --text-color-1: #ffffff;
  --text-color-2: #ff6b08;
  --text-color-3: #545454;
  --brand-background-color: #e5e5e5;
  --background-color-1: #ff6b01;
  --background-color-2: #f5f4fa;
  --background-color-3: #e5e5e5;
  --background-color-4: #f7f7f7;
  --icon-color: #818181;
  --button-border-color: black;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/home/mobile/home-banner-320x230@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/home/tablet/home-banner-768x230@1x.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/home/desktop/home-banner-1024x230@1x.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/home/mobile/home-banner-640x460@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/home/tablet/home-banner-1536x460@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/home/desktop/home-banner-2048x460@2x.jpg");
  }
}
.header--library {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/my-library/mobile/library-banner-320x230@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .header--library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/my-library/tablet/library-banner-768x230@1x.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .header--library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/my-library/desktop/library-banner-1024x230@1x.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header--library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/my-library/mobile/library-banner-640x460@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .header--library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/my-library/tablet/library-banner-1536x460@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .header--library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/header/my-library/desktop/library-banner-2048x460@2x.jpg");
  }
}
.header-section {
  width: 320px;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  height: 230px;
}
@media screen and (min-width: 768px) {
  .header-section {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header-section {
    width: 1200px;
  }
}
.header-nav {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-top: 48px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-nav {
    margin-left: 71px;
    margin-right: 76px;
    padding-top: 41px;
  }
}
.header-list {
  display: flex;
  gap: 40px;
  text-transform: uppercase;
  line-height: 1.1666666667;
}
.header-list__item {
  color: var(--text-color-1);
}
.header--current-site {
  position: relative;
}
.header--current-site::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 1px;
  height: 3px;
  width: 100%;
  background-color: var(--background-color-1);
}

.logo {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .logo__icon {
    margin-right: 10px;
  }
}
.logo__title {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo__title {
    display: flex;
    text-transform: capitalize;
    color: var(--text-color-1);
    font-size: 30px;
    line-height: 1.1666666667;
  }
}

.search-form {
  height: 20px;
  position: relative;
  text-align: center;
}
.search-form__input {
  color: var(--text-color-1);
  border: transparent;
  border-bottom: 1px solid var(--text-color-1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1428571429;
  width: 100%;
  background-color: transparent;
}
.search-form__input::placeholder {
  color: var(--main-white-color);
}
.search-form__input:focus {
  outline: none;
  border-bottom: 1px solid var(--background-color-1);
}
.search-form__input:focus ~ .search-form__button .search-form__icon {
  fill: var(--background-color-1);
}
@media screen and (min-width: 768px) {
  .search-form__input {
    width: 336px;
  }
}
.search-form__button {
  position: absolute;
  padding: 0;
  color: var(--text-color-1);
  border: transparent;
  background-color: transparent;
  top: -2px;
  right: 0;
}
@media screen and (min-width: 768px) {
  .search-form__button {
    right: 215px;
  }
}
@media screen and (min-width: 1200px) {
  .search-form__button {
    right: 430px;
  }
}
.search-form__icon {
  z-index: 900;
  margin: 5px 0 5px 10px;
}

.library-buttons {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .library-buttons {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .library-buttons__item:first-child {
    margin-right: 15px;
  }
}

.btn {
  display: block;
  width: 136px;
  height: 44px;
  line-height: 1.3333333333;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-orange {
  color: #fff;
  background-color: var(--background-color-1);
  border: 1px solid var(--background-color-1);
}

.btn-white {
  color: var(--text-color-1);
  background-color: transparent;
  border: 1px solid var(--text-color-1);
}

.btn-active {
  pointer-events: none;
  -webkit-box-shadow: 0px 8px 43px 0px rgba(255, 107, 1, 0.6);
  -moz-box-shadow: 0px 8px 43px 0px rgba(255, 107, 1, 0.6);
  box-shadow: 0px 8px 43px 0px rgba(255, 107, 1, 0.6);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#movie-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
}

.movie-title {
  color: var(--brand-color);
  padding-left: 0px;
  font-weight: 600;
}

.movie-image {
  border-radius: 5px;
  width: 274px;
  height: 398px;
  margin-bottom: 10px;
  background-image: url(/src/images/poster.png);
  background-size: 100%;
}

#movie-info {
  line-height: 1, 16em;
  display: flex;
  font-size: 12px;
  color: var(--text-color-2);
  font-weight: 600;
  margin-bottom: 31px;
  flex-direction: row;
}

.movie-box {
  display: grid;
  justify-content: center;
}

@media (min-width: 280px) {
  #movie-list {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  #movie-list .movie-image {
    border-radius: 5px;
    max-width: 280px;
    height: 398px;
  }
  #movie-list #movie-info {
    max-width: 280px;
  }
  #movie-list .movie-title {
    max-width: 280px;
  }
}
@media (min-width: 768px) {
  #movie-list {
    display: grid;
    grid-template-columns: auto auto;
  }
  #movie-list .movie-image {
    border-radius: 5px;
    max-width: 293x;
    height: 398px;
  }
  #movie-list #movie-info {
    max-width: 293px;
  }
  .movie-title {
    max-width: 293px;
  }
}
@media (min-width: 1024px) {
  #movie-list {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  #movie-list .movie-image {
    border-radius: 5px;
    max-width: 274px;
    height: 398px;
  }
  #movie-list #movie-info {
    max-width: 274px;
  }
  #movie-list .movie-title {
    max-width: 274px;
  }
}
.footer {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-4);
}

.footer__span {
  display: flex;
}

.footer__developed {
  display: flex;
}

.footer__underline {
  text-decoration: underline;
}

.footer__heart {
  padding: 0px 10px 0px 10px;
}

@media (min-width: 280px) {
  .footer__span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .footer__span {
    display: flex;
    flex-direction: row;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal__container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  min-width: 882px;
  min-height: 568px;
  padding: 30px 50px;
  background-color: white;
}
.modal__button {
  position: absolute;
  width: 136px;
  height: 44px;
  left: 527px;
  top: 522px;
  border: 1px solid black;
  border-radius: 5px;
}
.modal__button:hover {
  background-color: var(--button-border-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  color: var(--brand-color);
  font-size: 12px;
  font-weight: 500;
}

/*responsywność obrazów*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
@media screen and (max-width: 767) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding-left: 76px;
    padding-right: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 71px;
    padding-right: 71px;
  }
}/*# sourceMappingURL=main.css.map */