:root {
  --brand-color: black;
  --text-color-1: #ffffff;
  --text-color-2: #ff6b08;
  --text-color-3: #545454;
  --brand-background-color: #e5e5e5;
  --background-color-1: #ff6b01;
  --background-color-2: #f5f4fa;
  --background-color-3: #e5e5e5;
  --background-color-4: #f7f7f7;
  --icon-color: #818181;
}
