<header class="header--library">
    <div class="header-section">
      <!-- MAIN NAVIGATION -->
      <nav class="header-nav">
        <a href="index.html" class="link logo">
          <svg class="icon logo__icon" height="24px" width="24px">
            <use href="./images/sprite/sprite.svg#icon-film-tape"></use>
          </svg>
          <h1 class="logo__title">filmoteka</h1>
        </a>
        <ul class="header-list">
          <li class="header-list__item">
            <a href="index.html" class="home">home</a>
          </li>
          <li class="header-list__item">
            <a href="library.html" class="library header--current-site">my library</a>
          </li>
        </ul>
      </nav>
      <!-- LIBRARY BUTTONS -->
      <ul class="library-buttons">
        <li class="library-buttons__item">
          <button class="btn btn-watched btn-orange btn-active" id="btn-watched">watched</button>
        </li>
        <li class="library-buttons__item">
          <button class="btn btn-queue btn-white" id="btn-queue">queue</button>
        </li>
      </ul>
    </div>
    <script src="./js/library-markup.js"></script>
  </header>
  