<main>główny kontener na siatkę filmów

<div class="movie-box">
    <ul id="movie-list"></ul>
</div>    
<div></div>
<div style="width: 100%; display: flex; justify-content: center" class="pagination-box"><button class="arrow-left"><svg class="svg-left" width="20" height="20">
    <use href="./images/sprite/sprite2.svg#icon-arrow-left"></use>
</svg></button><div class="start-page-dots"></div><div class="pagination"></div><button class="arrow-right"><svg class="svg-right" width="20" height="20">
    <use href="./images/sprite/sprite2.svg#icon-arrow-right"></use>
</svg></button></div>
</main>