
#movie-list{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;    
}
.movie-title{
  color: var(--brand-color);
  padding-left:0px;
  font-weight: 600;
}
.movie-container{

}

.movie-image{
  border-radius:5px;
  width: 274px;
  height: 398px;
  margin-bottom:10px;
  background-image: url(/src/images/poster.png);
  background-size: 100%;
}

#movie-info{
  line-height:1,16em;
  display:flex;
  font-size:12px;
  color: var(--text-color-2);
  font-weight: 600;
  margin-bottom:31px;
  flex-direction:row;
}

.movie-box{
  display:grid;
  justify-content: center;
  
}


@media (min-width: 280px) {
  #movie-list{
      display:grid;
      grid-template-columns: auto;
      justify-content: center;

  .movie-image{
          border-radius:5px;
          max-width: 280px;
          height: 398px;
        }
  #movie-info{
    max-width: 280px;
  }        
  .movie-title{
    max-width: 280px;
  }       
    }
  }
  
@media (min-width: 768px) {
  #movie-list{
      display:grid;
      grid-template-columns: auto auto;

      .movie-image{
          border-radius:5px;
          max-width: 293x;
          height: 398px;
        }  
      #movie-info{
        max-width: 293px;}       
    }
    .movie-title{
      max-width: 293px;
    }       
}


@media (min-width: 1024px) {
  #movie-list {
    display: grid;
    grid-template-columns: auto auto auto;

      .movie-image{
          border-radius:5px;
          max-width: 274px;
          height: 398px;
        } 
      #movie-info{
        max-width:274px;
      }    
      .movie-title{
        max-width: 274px;
      }       
    }
  }


