.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);

    &__container {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        min-width: 882px;
        min-height: 568px;
        padding: 30px 50px;
        background-color: white;
    }

    &__button {
         position: absolute;
        width: 136px;
        height: 44px;
        left: 527px;
        top: 522px;
        border: 1px solid black;
        border-radius: 5px;

        &:hover {
            background-color: $button-border-color;
        }
    }
}